*{
  margin: 0;
  padding: 0;
  font-family: Work Sans, sans-serif;
}
/* Header Section :start */
header{
  max-width: 100%;
  background: rgba(255, 144, 14, 0.1);
}

/* Nav Section :start */
.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 160px;
}
.nav-container p{
  color: rgb(19, 19, 19);
  font-size: 3rem;
  font-weight: 700;
}
.nav-link{
  display: flex;
  align-items: center;
}
.nav-link li{
  list-style: none;
  margin-right: 50px;
}
.nav-link a{
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-size: 1rem;
  font-weight: 500;
}
/* Nav Section :end */
/* Banner Section :start */
.banner-container{
  max-width: 45%;
  margin: 0 auto;
}
.banner-container h1{
  color: rgb(19, 19, 19);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.banner-container p{
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin: 32px 0;
}
.primary-btn{
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  padding: 20px 25px;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  background: rgb(255, 144, 14);
  border: none;
}
.banner-image{
  max-width: 75%;
  margin: 0 auto;
  display: block;
  padding: 50px 0;
}
/* Banner Section :end */
/* Header Section :end */

/* Team Section :start */
.team-section{
  display: flex;
  margin: 70px 100px;
  justify-content: center;
}
.team-album{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.team-album img{
  width: 100%;
}
.team-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 40px;
}
.team-description h3{
  color: rgb(114, 114, 114);
  font-size: 1.8rem;
}
.team-description span{
  color: rgb(19, 19, 19);
  font-size: 1.8rem;
}
.team-description > h3 > p{
  color: rgb(255, 144, 14);
  font-size: 1.8rem;
  font-weight: 700;
}
.team-description p{
  color: rgb(114, 114, 114);
  font-size: .75rem;
  font-weight: 400;
  margin: 8px 0;
}
.team-btn{
  margin: 10px 0;
}
/* Feature Section Start */
.feature-section{
  max-width: 90%;
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 50px;
  max-width: 90%;
  margin: 0 auto;
}
.card-container{
  width: calc(80% - 30px);
}
.card-container h3{
  border-left: 5px solid rgb(255, 144, 14);
  padding-left: 26px;
  color: rgb(19, 19, 19);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.text-primary{
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
}
.card-div{
  border-radius: 8px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  margin: 15px 0;
}
.card-div h4{
  color: rgb(19, 19, 19);
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.feature-img img{
  width: 100%;
  height: 92%;
  overflow: scroll;
}
.feature-btn{
  border-radius: 8px;
  background: rgb(255, 144, 14);
  border: none;
  padding: 40px 32px;
  font-size: 3.5rem;
  font-weight: 700;
  color: white;
  margin-top: -90px;
  margin-left: -65px;
}
.feature-btn p{
  font-size: 1rem;
}
/* Feature Section End */

/* Facts Section Start */

.fact-container{
  max-width: 80%;
  margin: 0 auto;
}
.fact-div{
  margin: 20px 0;
}
.fact-div h3{
  color: rgb(19, 19, 19);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.fact-div p{
color: rgb(114, 114, 114);
font-size: 1rem;
font-weight: 400;
}
/* Success Card */

/* Sponsors Section Start */
.sponsors-div{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.sponsors-div h4{
  color: rgb(19, 19, 19);
  font-size: 3rem;
  font-weight: 700;
}
.sponsors-div p{
  color: rgb(114, 114, 114);
  font-size: 1rem;
  margin: 20px auto;
  max-width: 60%;
}
.sponsors-img-container{
  display: flex;
  justify-content: space-evenly;
  margin: 3% auto;
  flex-wrap: wrap;
}
.sponsors-img-container img{
  width: 100px;
  height: 30px;
  filter: grayscale(100%);
}

/* Sponsors Section End */

.success-container{
  max-width: 95%;
  margin: 80px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 80px;
}
.success-card{
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  text-align: center;
  padding: 25px 15px 60px;
  width: 100%;
}
.success-card h3{
color: rgb(66, 66, 66);
font-size: 3rem;
font-weight: 600;
}
.success-card p{
color: rgb(114, 114, 114);
font-size: 1rem;
font-weight: 600;
}
/* Facts Section End */
.footer{
  padding: 2% 1%;
  text-align: center;
  margin: 0 auto;
  width: 85%;
  border-radius: 8px;
  background: rgb(255, 244, 231);
}
.footer p{
color: rgb(66, 66, 66);
font-size: 1.25rem;
}


@media screen and (max-width: 576px) {
  .nav-container{
    flex-direction: column;
    padding: 50px;
  }
  .nav-container p{
    font-size: 2rem;
  }
  .nav-link{
    margin: 20px auto;
  }
   .nav-link li{
    margin-right: 10px;
  }
  .team-album{
    padding: 15px;
    margin: 25px auto;
  }
  .banner-container h1{
    font-size: 2rem;
    margin-top: -50px;
  }
  .team-section{
    flex-direction: column;
    margin: 0 auto;
  }
  .team-description p{
    max-width: 80%;
  }
  .feature-section{
    flex-direction: column;
    align-items: center;
  }
  .card-container{
    width: 100%;
    margin: 0;
  }
  .feature-img{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feature-btn{
    padding: 10px 15px;
    font-size: 2rem;
    margin: 20px auto;
  }
  .fact-div{
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .success-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 40px));
  gap: 50px;
  margin: 20px;
  }
  .success-card{
    width: 90%;
  }
   .success-card h3{
    font-size: 2rem;
   }
  .sponsors-div h4{
    font-size: 2rem;
  }
  .sponsors-div p{
    font-size: 0.5rem;
    margin: 15px auto;
  }
  .sponsors-img-container{
    flex-direction: column;
    align-items: center;
  }
  .sponsors-img-container img{
    margin: 20px;
  }
}

@media screen and (min-width: 577px) and (max-width: 769px) {
  .nav-container{
    padding: 30px 50px;
  }
  .nav-container p{
    font-size: 2rem;
  }
  .banner-container h1{
    font-size: 2.5rem;
  }
  .team-section{
    flex-direction: column;
    margin: 0 auto;
  }
  .team-album{
    margin: 25px auto;
    padding: 15px;
  }
  .team-description{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .team-description p{
    max-width: 80%;
  }
  .team-description > h3 > p{
    display: inline;
  }
    .nav-link li{
    margin-right: 20px;
  }
   .feature-section{
    flex-direction: column;
    align-items: center;
  }
  .card-container{
    width: 100%;
    margin: 0;
}
.feature-img{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-btn{
  margin: 20px auto;
}
 .fact-div{
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  .success-container{
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 40px));
    gap: 50px;
    margin: 20px;
  }
  .sponsors-div h4{
    font-size: 2rem;
  }
  .sponsors-div p{
    font-size: 0.5rem;
    margin: 15px auto;
  }
}